/* Login Page */
#root {
  min-height: 100%;
}

#login {
  height: 100%;
  margin-top: 20%;
  justify-content: center;
}

#login-box {
  border: 1px solid red;
  border-radius: 4px;
  padding: 20px;
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 800px) {
    #login-box {
        width: 50%;
    }
}

@media (max-width: 500px) {
    #login-box {
        width: 70%;
    }
}

@media (max-width: 340px) {
    #login-box {
        width: 85%;
    }
}

#login-buttons {
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

/* Game Page */
#header {
  text-align: center;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 64px;
}
